<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body th:fragment="copy">

<div class="container">
    <div class="row">
		<div class="col s12 center">
		    <h4>Usuarios Activos</h4>
		
		      <table class="responsive-table bordered highlight activos">
		          <thead>
		          <tr>
		              <th>Username</th>
		              <th>Email</th>
		              <th>Roles</th>
		              <th>Acciones</th>
		          </tr>
		          </thead>
		
		          <tbody>
		          <tr th:each="u : ${active_users}" th:id="${u.id}">
		              <td th:text="${u.username}"></td>
		              <td th:text="${u.email}"></td>
		              <td>
		                  <div th:each="r : ${u.authorities}" class="chip" th:text="${r.authority}">
		                  </div>
		              </td>
		              <td>
		                  <a th:href="@{'/admin/user/' + ${u.id}}" title="Editar">
		                 	 <i class="material-icons icon">edit</i>
		                  </a>
		                  
		                  <i th:attr="data-id=${u.id}" class="material-icons icon desactivar" title="Desactivar">
		                  	delete
		                  </i>
		              </td>
		          </tr>
		          </tbody>
		      </table>
		   
		</div>

<!-- Float Button -->
<div class="fixed-action-btn click-to-toggle">
    <a class="btn-floating btn-large">
        <i class="large material-icons">add</i>
    </a>
    <ul>
    	<li>
            <a th:href="@{/admin/users-no-activos}" class="btn-floating tooltipped" data-position="left" data-delay="50"
               data-tooltip="Restaurar usuarios">
                <i class="material-icons">delete_sweep</i>
            </a>
        </li>
        <li>
            <a th:href="@{/admin/user}" class="btn-floating tooltipped" data-position="left" data-delay="50"
               data-tooltip="Nuevo usuario">
                <i class="material-icons">perm_identity</i>
            </a>
        </li>
    </ul>
</div>

	</div>
</div>
<script th:inline="javascript">
    var baseURL = /*[[@{/}]]*/ '/';
</script>
<script th:src="@{/js/admin-users.js}" src="../../js/admin-users.js"></script>

</body>
</html>