<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body th:fragment="copy">
	
	<div class="col s12 center">
		<h4>Lista De Usuarios</h4>
		
		 <ul id="tabs-swipe-demo" class="tabs">
		    <li class="tab col s6"><a class="active" href="#test-swipe-1">Activos</a></li>
		    <li class="tab col s6"><a href="#test-swipe-2">No activos</a></li>
		 </ul>

		 <!-- Activos -->
		 <div id="test-swipe-1" class="col s12">
		 	<table class="responsive-table bordered highlight">
		        <thead>
		          <tr>
		              <th>Username</th>
		              <th>Email</th>
		              <th>Roles</th>
		              <th>Acciones</th>
		          </tr>
		        </thead>
		
		        <tbody>
		          <tr th:each="u : ${active_users}">
		            <td th:text="${u.username}"></td>
		            <td th:text="${u.email}"></td>
		            <td>
		            	<div th:each="r : ${u.authorities}" class="chip" th:text="${r.authority}">
					    </div>
					</td>
					<td>
						<a th:href="@{'/admin/user/' + ${u.id}}"><i class="material-icons">edit</i></a>
					</td>
		          </tr>
		        </tbody>
	      </table>
		 </div>
		 
		 <!-- No activos -->
		 <div id="test-swipe-2" class="col s12">
		 	<table class="responsive-table bordered highlight">
		        <thead>
		          <tr>
		              <th>Username</th>
		              <th>Email</th>
		              <th>Roles</th>
		              <th>Acciones</th>
		          </tr>
		        </thead>
		
		        <tbody>
		          <tr th:each="u : ${no_active_users}">
		            <td th:text="${u.username}"></td>
		            <td th:text="${u.email}"></td>
		            <td>
		            	<div th:each="r : ${u.authorities}" class="chip" th:text="${r.authority}">
					    </div>
					</td>
					<td>
						<a th:href="@{'/admin/user/restore' + ${u.id}}"><i class="material-icons">undo</i></a>
					</td>
		          </tr>
		        </tbody>
	      </table>
		 </div>
		
		
	</div>
	
	<!-- Float Button -->
<div class="fixed-action-btn click-to-toggle">
    <a class="btn-floating btn-large red">
      <i class="large material-icons">add</i>
    </a>
    <ul>
      <li>
      	<a th:href="@{/admin/user/new}" class="btn-floating blue tooltipped" data-position="left" data-delay="50" data-tooltip="Nuevo usuario">
      		<i class="material-icons">perm_identity</i>
      	</a>
      </li>
    </ul>
</div>
	
	
</body>
</html>