<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body th:fragment="copy">
	
	<div class="col s12 center">
		<h4>Mis Reservas</h4>
		
		<div class="jumbo" th:if="${#lists.isEmpty(users)}">
			<h5 class="center-align">
				Uups! Parece que todavia no has hecho ninguna reserva.
			</h5>
		</div>
		
		<table class="responsive-table bordered highlight" th:if="${not #lists.isEmpty(users)}">
	        <thead>
	          <tr>
	              <th>Asunto</th>
	              <th>Lugar</th>
	              <th>Fecha</th>
	              <th>Estado</th>
	          </tr>
	        </thead>
	
	        <tbody>
	          
	        </tbody>
      </table>
	</div>
	
	
</body>
</html>