<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body th:fragment="copy">


<!-- Title Panel -->
<div class="title-panel center">
    <span>Mi Perfil</span>
</div>

<div class="container">
    <div class="row">
        <div class="col s12">

            <ul class="collapsible" data-collapsible="expandable">

                <li>
                    <div class="collapsible-header active"><i class="material-icons">perm_identity</i> Mis Datos</div>
                    <div class="collapsible-body">
                        <div class="row">
                            <div class="col s12 m4 center">
                                <div class="col s12">
                                    <img id="avatarPrincipal" th:attr="data-id-avatar=${#authentication.principal.avatar.id}"
                                                                th:src="@{${#authentication.principal.avatar.enlace}}" class="img-avatar" />
                                </div>

                                <div class="col s12" style="padding: 10px;">
                                    <span class="center" th:each="avatar : ${avatares}"
                                          th:id="${#strings.concat('spanAvatar_', avatar.id)}"
                                          th:attr="data-id-avatar=${avatar.id}"
                                          th:classappend="${#authentication.principal.avatar.id == avatar.id ? 'selected-avatar' : ''}">
                                        <img  th:src="@{${avatar.enlace}}" class="img-avatar-mini" style="cursor: pointer;"/>
                                    </span>
                                </div>
                            </div>

                            <div class="col s12 m8">
                                <div class="col s12">
                                    <label> Username :
                                        <input type="text" id="username" name="username" th:value="${#authentication.principal.username}"/>
                                    </label>
                                </div>

                                <div class="col s12">
                                    <label> Email :
                                        <input type="text" id="email"  name="email" th:value="${#authentication.principal.email}"/>
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <a id="btn-modificar-datos" class="btn-flat right blue-text">GUARDAR</a>
                        </div>
                    </div>
                </li>

                <li>
                    <div class="collapsible-header active"><i class="material-icons">vpn_key</i> Mi Contraseña</div>
                    <div class="collapsible-body">
                        <div class="row">
                            <div class="col s12 m4">
                                <label> Contraseña actual:
                                    <input type="password" id="currentPassword" name="currentPassword" />
                                </label>
                            </div>
                            <div class="col s12 m4">
                                <label> Nueva contraseña:
                                    <input type="password" id="newPassword" name="newPassword" />
                                </label>
                            </div>
                            <div class="col s12 m4">
                                <label> Repetir nueva contraseña:
                                    <input type="password" id="repeatedNewPassword" name="repeatedNewPassword" />
                                </label>
                            </div>
                        </div>

                        <div class="row">
                            <a id="btn-change-password" class="btn-flat right blue-text">GUARDAR</a>
                        </div>

                    </div>
                </li>
            </ul>

        </div>
    </div>
</div>

<script th:inline="javascript">
    var baseURL = /*[[@{/}]]*/ '/';
</script>
<script th:src="@{/js/perfil.js}" src="../../js/perfil.js"></script>

</body>
</html>