<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body th:fragment="copy">

<div class="container">
    <div class="row">
		<div class="col s12">
		
		    <h4 class="center">Editar Reserva</h4>
		    <form>
		        <input type="hidden" id="idReserva" th:value="${reserva.espacio.id}"/>
		        <input type="hidden" id="idEspacio" th:value="${reserva.espacio.id}"/>
		        <div class="col s6">
		            <div>
		                <label> Asunto :
		                    <input type="text" id="asunto" th:value="${reserva.asunto}"/>
		                </label>
		            </div>
		            <div>
		                <label> Desde:
		                    <input type="text" id="datetimepicker1" th:value="${#dates.format(reserva.rango.inicio,'dd/MM/yyy HH:mm')}"/>
		                </label>
		            </div>
		            <div>
		                <label> Hasta:
		                    <input type="text" id="datetimepicker2" th:value="${#dates.format(reserva.rango.fin,'dd/MM/yyy HH:mm')}"/>
		                </label>
		            </div>
		        </div>

				<div class="col s6">
					<label for="autocomplete-users">Autocomplete</label>
					<input type="text" id="autocomplete-users" class="autocomplete" />

					<!-- Invitados -->
					<div>

					</div>

				</div>
		
		        <div class="col s12 center">
		            <button id="editar-reserva" class="btn waves-effect waves-light">Guardar</button>
		        </div>
		    </form>
		</div>
	</div>
</div>

<script th:inline="javascript">
    var baseURL = /*[[@{/}]]*/ '/';
    var idReserva = /*[[${reserva.id}]]*/ '1';
</script>
<script th:src="@{/js/reserva-edit.js}" src="../../js/reserva-edit.js"></script>

</body>
</html>