<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body th:fragment="copy">

<div class="title-panel center">
    <span>Seleccione un edificio</span>
</div>

<div class="container">
    <div class="row">
        <div class="col s12">

        <div class="col s12 m8 offset-m2">
            <div class="collection">
                <a th:each="e : ${edificios}" th:href="@{'/edificio/' + ${e.id} + '/espacios'}" class="collection-item" th:inline="text">
                    [[${e.nombre}]] <span class="new badge" th:with="numEspacios=${e.espacios.size()}" th:attr="data-badge-caption=${numEspacios == 1 ? 'espacio' : 'espacios'}" th:text="${numEspacios}"></span>
                </a>
            </div>
        </div>


        </div>
    </div>
</div>

</body>
</html>