<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body th:fragment="copy">

<!-- Info Panel -->
<div class="info-panel">  </div>

   <div class="container">
       <div class="row">
       
<br/><br/>

<!-- Calendario -->
<div id="calendar" class="col s12 center">
</div>

<!-- Float Button -->
<div class="fixed-action-btn click-to-toggle">
    <a href="#modal1" class="btn-floating btn-large">
        <i class="large material-icons">add</i>
    </a>
</div>

<!-- Modal Crear Reserva -->
 <div id="modal1" class="modal">
   <div class="modal-content">
     <h4>Nueva Reserva</h4>
     <form>
         <input type="hidden" id="idEspacio" th:value="${idEspacio}"/>
         <div class="row">
             <div class="row col s12">
                 <div>
                     <label>Asunto <input id="asunto" type="text" /></label>
                 </div>

                 <div>
                     <label>Desde <input id="datetimepicker1" type="text" /></label>
                 </div>

                 <div>
                     <label>Hasta <input id="datetimepicker2" type="text" /></label>
                 </div>

                 <!-- Check Repetir -->
                 <input id="checkRepetir" type="checkbox" />
                 <label for="checkRepetir">Repetir</label>

             </div>

             <div id="repetirContainer" class="col s12" style="display: none;">
                 <!-- Frecuencia -->
                 <div class="col s12 m6 input-field">
                     <select id="selec_frec">
                         <option value="WEEKLY">Cada semana</option>
                         <option value="DAILY">Cada dia</option>
                         <option value="MONTHLY">Cada mes</option>
                         <option value="YEARLY">Cada año</option>
                         <option value="WEEKLY">Todos los dias laborables (de lunes a viernes)</option>
                         <option value="WEEKLY">Todos los lunes, miercoles y viernes</option>
                         <option value="WEEKLY">Todos los martes y jueves</option>
                     </select>
                     <label>Se repite: </label>
                 </div>

                 <!-- Intervalo -->
                 <div class="col s12 m6 input-field">
                     <select id="selec_inter">
                         <option th:each="i : ${#numbers.sequence(1,30)}"
                                 th:value="${i}"
                                 th:text="${i}"></option>
                     </select>
                     <label>Reperir cada: </label>
                 </div>

                 <!-- Dias de la Semana -->
                 <div id="checksDiasSemana">
                     <p>Repetir el: </p>

                         <input id="check_L" data-value="1" type="checkbox" />
                         <label class="label-check" for="check_L">L</label>

                         <input id="check_M" data-value="2" type="checkbox" />
                         <label class="label-check" for="check_M">M</label>

                         <input id="check_X" data-value="3" type="checkbox" />
                         <label class="label-check" for="check_X">X</label>

                         <input id="check_J" data-value="4" type="checkbox" />
                         <label class="label-check" for="check_J">J</label>

                         <input id="check_V" data-value="5" type="checkbox" />
                         <label class="label-check" for="check_V">V</label>

                         <input id="check_S" data-value="6" type="checkbox" />
                         <label class="label-check" for="check_S">S</label>

                         <input id="check_D" data-value="7" type="checkbox" />
                         <label class="label-check" for="check_D">D</label>
                 </div>

                 <!-- Empieza el -->
                 <div class="col s12 m4">
                     <label>Empieza el </label>
                     <input id="empieza_el" type="text" />
                 </div>

                 <!-- Finaliza -->
                 <div class="col s6 m4">
                     <label>Al cabo de
                     <input id="count_repeat" type="text" value="5" />
                     repeticiones </label>
                 </div>


             </div>

         </div>
     </form>
   </div>
   <div class="modal-footer">
     <a id="crear-reserva" class="modal-action modal-close waves-effect waves-green btn-flat">Crear</a>
   </div>
 </div>


	</div>
</div>
<script th:inline="javascript">
    var baseURL = /*[[@{/}]]*/ '/';
    var idEspacio = /*[[${idEspacio}]]*/ '1';
</script>
<script th:src="@{/js/reservas-calendario.js}" src="../../js/reservas-calendario.js"></script>

</body>
</html>