<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
<link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet"/>
<link rel="stylesheet" th:href="@{/webjars/materializecss/0.98.2/css/materialize.min.css}"/>
<link  type="text/css" media="all" rel="stylesheet" th:href="@{/css/style-login.css}" />
<title>403</title>
</head>
<body>
<main>
    <div class="container">
        <div class="row">
            <div class="col s6 center offset-s3">
                <h1>403</h1>
                <h4>Acceso Denegado</h4>
                
                <p>No tienes los permisos necesarios para ver esta pagina.</p>

            </div>
        </div>
    </div>
</main>

<footer class="page-footer">
	<div class="footer-copyright center">
       <div class="container">
           © 2017 Copyright
       </div>
   </div>
</footer>

</body>
</html>