body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

header, main, footer {
  padding-left: 260px;
}

@media only screen and (max-width : 992px) {
  header, main, footer {
    padding-left: 0;
  }
}

.log-out{
	border: none;
	background: transparent;
	font-size: 16px;
    color: #26a69a;
    display: block;
    line-height: 22px;
    padding: 14px 16px;
}

.jumbo{
	height: auto;
	background: #ddd;
	padding: 20px 0px;
}

nav{
	background-color: #FFF;
}

nav .brand-logo{
	padding-left: 5px;
	padding-right: 5px;
	color: #000;
	font-family: 'Pacifico', cursive;
}

nav i.material-icons{
	color: #000;
}

.btn-floating,
.btn-floating:hover{
	background-color: #007aff;
}

.fc-center h2{
	font-size: 26px;
}

.collection .collection-item.avatar{
	padding-left: 20px;
}

.icon{
	cursor: pointer;
	color: rgba(0,0,0,0.87);
}

.info-panel{
	padding: 10px 15px;
	min-height: 20px;
	background-color: #278bd2;
	color: #FFFFFF;
	display: none;
}

.info-error{
	background-color: #d23434;
}

.info-success{
	background-color: green;
}

.title-panel{
	padding: 10px 15px;
	min-height: 40px;
	background-color: #DDD;
	color: #000;
	margin-bottom: 10px;
}

.tooltipster-light{
	border-radius: 0px;
}

label.label-check{
	padding-left: 20px;
	padding-right: 10px;
}

.card{
	border-radius: 0px;
}

.card .card-content{
	padding: 10px;
	border-radius: 0px;
}

.card .card-image img{
	border-radius: 0px;
}

.card .card-title{
	font-size: 20px;
}

.espacioSeleccionado{
	border-bottom: 5px solid #a680a9;
}


.img-avatar-mini,
.img-avatar-medium,
.img-avatar{
	border-radius: 50%;
}

.img-avatar-mini{
	height: 30px;
	width: 30px;
}

.img-avatar-medium{
	height: 50px;
	width: 50px;
}

.img-avatar{
	height: 150px;
	width: 150px;
}

.respuesta-seleccionada{
	color: cornflowerblue;
}

.collapsible-body{
	background-color: #EEE;
}

.selected-avatar{
    border-bottom: 3px solid #868992;
}

.pagination li.active {
	background-color: #FFF;
	border-bottom: 3px solid #e4a4e2;
	border-radius: 0px;
}

.pagination li.active a {
	color: #444;
}

.span-text{
	font-size: 12px;
	font-style: italic;
	color: #aaa;
}
