body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

header, main, footer {
  padding-left: 260px;
}

@media only screen and (max-width : 992px) {
  header, main, footer {
    padding-left: 0;
  }
}

.log-out{
	border: none;
	background: transparent;
	font-size: 16px;
    color: #26a69a;
    display: block;
    line-height: 22px;
    padding: 14px 16px;
}

.jumbo{
	height: auto;
	background: #ddd;
	padding: 20px 0px;
}

nav{
	background-color: #FFF;
}

nav .brand-logo{
	padding-left: 5px;
	padding-right: 5px;
	color: #000;
	font-family: 'Pacifico', cursive;
}

nav i.material-icons{
	color: #000;
}

.btn-floating,
.btn-floating:hover{
	background-color: #007aff;
}

.fc-center h2{
	font-size: 26px;
}

.collection .collection-item.avatar{
	padding-left: 20px;
}

.icon{
	cursor: pointer;
	color: rgba(0,0,0,0.87);
}

.info-panel{
	padding: 10px 15px;
	min-height: 20px;
	background-color: #278bd2;
	color: #FFFFFF;
	display: none;
}

.info-error{
	background-color: #d23434;
}

.info-success{
	background-color: green;
}

.buscador-panel{
	padding: 10px 15px;
	min-height: 70px;
	background-color: #FFF;
	color: #000;
}

.tooltipster-light{
	border-radius: 0px;
}

