<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/head :: copy"></head>
<body>
<header>
    <!-- Top Bar Dropdown -->
	<ul id="dropdown1" class="dropdown-content">
	  <li>
	  	<form th:action="@{/logout}" method="post">
	  		<button type="submit" class="log-out">Log out</button>
	  	</form>
	  </li>
	</ul>

    <nav>
    	<!-- Top Bar -->
        <div class="nav-wrapper">
            <a href="#" class="brand-logo"> R </a>
            <a href="#" data-activates="slide-out" class="button-collapse">
	  			<i class="material-icons">menu</i>
	  		</a>
            <ul id="nav-mobile" class="right">
               
                <li>
                	<a class="dropdown-button" href="#!" data-activates="dropdown1">
                		<i class="material-icons">more_vert</i>
                	</a>
                </li>
            </ul>
        </div>

		<!-- Left Menu -->
		<ul id="slide-out" class="side-nav fixed">
		    <li>
		    	<div class="userView">
			    	<div class="background">
			        	<img th:src="@{/img/background_1.jpg}" />
			        </div>
			        <a href="#!user"><img class="circle" th:src="@{/img/user_avatar.png}"/></a>
			        <a href="#!name"><span class="white-text name" th:text="${#authentication.principal.username}"></span></a>
			        <a href="#!email"><span class="white-text email" th:text="${#authentication.principal.email}"></span></a>
		    	</div>
			</li>
		    <li><a th:href="@{/}"><i class="material-icons">class</i>Mis Reservas</a></li>
		    <li class="no-padding">
		        <ul class="collapsible collapsible-accordion">
		          <li>
		            <a class="collapsible-header">
		            	<i class="material-icons">today</i>Reservar
		            </a>
		            <div class="collapsible-body">
		              <ul>
		                <li><a href="#!"><i class="material-icons">crop_5_4</i>Por espacio</a></li>
		                <li><a href="#!"><i class="material-icons">date_range</i>Por fecha</a></li>
		              </ul>
		            </div>
		          </li>
		        </ul>
		    </li>
		    <!--/*/  <th:block sec:authorize="hasRole('ROLE_ADMIN')"> /*/-->
		    <li><div class="divider"></div></li>
		    <li><a class="waves-effect" th:href="@{/admin}"><i class="material-icons">settings</i>Administrar</a></li>
			<!--/*/  </th:block> /*/-->
		</ul>

    </nav>
</header>

<main>
    <div class="container">
        <div class="row">
				
			<div th:include="${#strings.concat('fragments/', view)} :: copy"></div>
  
        </div>
    </div>
</main>



<script type="text/javascript">
	$(document).ready(function(){
		$(".button-collapse").sideNav({
			 menuWidth: 260,
		});
		
		$(".dropdown-button").dropdown({
			 belowOrigin: true
		});
		
		$('.tooltipped').tooltip({delay: 50});
	});
	
</script>

</body>
</html>